

@{
    ViewData["Title"] = "About Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Facts about Ariana:</h2>
<ul>
    <li>
        She was born on June 26, 1993, in Boca Raton, Florida, U.S.A
    </li>
    <li>
        Before becoming a singer she was an actress in nickelodeon
    </li>
    <li>
        Started her music career in 2011
    </li>
    <li>
        She debuted with a song called "Put Your Hearts Up" 
    </li>
    <li>
        Later on, in 2013, she debuted her very first studio album "Yours Truly" which became successful
    </li>
    <li>
        Her most popular songs are "7 rings", "problem", and "Thank U, Next"
    </li>
    <li>
        She currently has 7 albums in total
    </li>
</ul>

