

@{
    ViewData["Title"] = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>
<div>
    <h3>First Album:</h3>
    <img src="~/images/firstalbum.jpg" alt="picture of singer" width="300"/>
    <p>Album Name: Yours Truly</p>
    <p>Release Date: August 30, 2013</p>
</div>

<div>
    <h3>Second Album:</h3>
    <img src="~/images/secondalbum.jpg" alt="picture of second album" width="300"/>
    <p>Album Name: My Everything</p>
    <p>Release Date: August 22, 2014</p>
</div>

<div>
    <h3>Third Album:</h3>
    <img src="~/images/thirdalbum.jpg" alt="picture of third album" width="300"/>
    <p>Album Name: Dangerous Woman</p>
    <p>Release Date: May 20, 2016</p>
</div>

<div>
    <h3>Fourth Album:</h3>
    <img src="~/images/fourthalbum.jpg" alt="picture of fourth album" width="300"/>
    <p>Album Name: Sweetener</p>
    <p>Release Date: August 17, 2018</p>
</div>

<div>
    <h3>Fifth Album:</h3>
    <img src="~/images/fifthalbum.jpg" alt="picture of fifth album" width="300"/>
    <p>Album Name: Thank U, Next</p>
    <p>Release Date: February 8, 2019</p>
</div>

<div>
    <h3>Sixth Album:</h3>
    <img src="~/images/sixthalbum.jpg" alt="picture of sixth album" width="300"/>
    <p>Album Name: Positions</p>
    <p>Release Date: October 30, 2020</p>
</div>

<div>
    <h3>Seventh Album:</h3>
    <img src="~/images/seventhalbum.jpg" alt="picture of seventh album" width="300"/>
    <p>Album Name: Eternal Sunshine</p>
    <p>Release Date: March 8, 2024</p>
</div>

<partial name="_Partial"/>