@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Artist:</h1>
    <h2>Ariana Grande</h2>
    <img src="~/images/arianagrande.jpg" alt="picture of singer" width="300" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>